{% extends 'base/base.html' %}

{% block title %}
<title>
    {{selectedChannel.name}}
</title>
{% endblock %}

{% block content %}

<div class="container marketing" style="margin-top: 70px;">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-12">
        <img class="bd-placeholder-img rounded-circle" src="{{ selectedChannel.icon }}" alt="icon" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
        <h4>{{ selectedChannel.name }}</h4>
        <p>ID: {{selectedChannel.channelId}}</p>
        <p>Upload Playlist: {{selectedChannel.uploadPlaylist}}</p>
        <p><a class="btn btn-secondary" href="https://www.youtube.com/channel/{{ selectedChannel.channelId }}" role="button">Go to channel &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="featurette-divider">

  </div><!-- /.container -->
  {% endblock %}